---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1>Archive</h1>

<div>
{% ImageGet "FunHelmetShot", "Picture of me in a red clone trooper helmet", 400 %}
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
